<div class="row">
  <div class="col-sm-6 col-lg-4">
    <table>
      <tr>Tennis</tr>
      <tr>
        <td>
          <button (click)="getAllPlayers()">All players</button>
        </td>
        <td>
          <button (click)="getAllMatches()">First round matches</button>
        </td>
      </tr>
    </table>
</div>
</div>

<br />
<br />

<div class="row">
  <div class="col-sm-6 col-lg-4" *ngIf="viewTable == 'players'">
      <div class="panel panel-primary">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">gender</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of players">
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>   
                <td>{{ p.gender == 1 ? 'Male' : 'Female' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  <div class="col-sm-6 col-lg-4" *ngIf="viewTable == 'matches'">
    <div class="panel panel-primary">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">player1</th>
              <th scope="col">player2</th>
              <th scope="col">winner</th>
              <th scope="col">result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of matcheView">
              <td>{{ m.id }}</td>
              <td>{{ m.player1.name }}</td> 
              <td>{{ m.player2.name }}</td>   
              <td>{{ m.winner != null ? m.winner.name : '' }}</td>     
              <td>{{ m.result }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</div>

